<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gadget Shop | Spring Boot eindopdracht</title>
</head>
<body>
<header><h2>Come see and behold</h2></header>
<main>
    <h1>GadgetShop | Phones</h1>
    <section>
        <h2>Product Overview</h2>
        <div class="phones">
            <th:block th:each="phone:${phones}">
                <div class="phone" th:text="${phone}"></div>
            </th:block>
        </div>
    </section>

</main>
    <footer><h3>Footer CONTENT</h3></footer>
</body>
</html>